.form-number{
  
    font-size: 1rem;
    padding: 10px 15px;
    border: none;
    font-weight:bold;
    font-size: 17px;
    padding:1rem;
    margin: 1rem;
    border: 1px solid rgb(202, 202, 202);
    transition: 0.15 ease-in-out;
}
.form-number:focus{
    outline: none;
    border: 3px solid var(--accent-color);

}

.invalid{
    
    font-size: 1rem;
    padding: 10px 15px;
    border: 2px solid red;


}
.invalid:focus{
    border: 2px solid red;

}

.form-label{
    font-weight: bold;

}
.form-input{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.2rem;
 
}
.form-input input{
    color:black;
}
.generic-text-label{
    font-weight: bold;
 
    justify-content: center;
    align-items: center;

    margin-top:1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}
input[type = "range"]{
    accent-color: var(--accent-color);
    fill:var(--accent-color);
}