
.form-input input{
    background-color: transparent;
    color:var(--accent-color);
    transition: 0.15s;
    width: 100%;
    
}
.form-input input{
    border:none;
    border-bottom: solid white 1px;

}
.form-input input:focus{
    border:none;
    border-bottom: solid var(--accent-color) 5px;
    transform:scale(1.1);
    opacity: 1;

}

.form-number{
  
    font-size: 1rem;
    padding: 10px 15px;
    border: none;
    font-weight:bold;
    color:var(--accent-color);
    padding:1rem;
    margin: 1rem;
    border: 1px solid rgb(202, 202, 202);
    transition: 0.15 ease-in-out;
}
.form-number:focus{
    outline: none;
    border: 3px solid var(--accent-color);

}

.invalid{
    
    font-size: 1rem;
    padding: 10px 15px;
    border-bottom: 2px solid red !important;


}
.invalid:focus{
    border: 2px solid red;

}

.form-label{
    font-weight: bold;

}
.form-input{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    font-size: 1.2rem;
 
}
.form-input input{
    color:white;
    justify-content: center;
    
}
.generic-text-label{
    font-weight: bold;
 
    justify-content: center;
    align-items: center;

    margin-top:1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}
input[type = "range"]{
    accent-color: var(--accent-color);
    fill:var(--accent-color);
}
.generic-text-label-2{
    font-weight: bold;
 
    margin-top:1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}
@media only screen and (max-width:768px) {
    .generic-text-label{
        font-size: 0.9rem;
    }
    .form-input input:focus{
        border:none;
        border-bottom: solid var(--accent-color) 5px;
        transform:scale(1.02);
        opacity: 1;
    
    }
}


.checkbox-wrapper-22 .switch {
    display: inline-block;
    height: 3.5rem;
    position: relative;
    width: 6.5rem
  }
  .checkbox-wrapper-22{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .checkbox-wrapper-22 .switch input {
    display:none;
  }

  .checkbox-wrapper-22 .slider {
    background-color: whitesmoke;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }

  .checkbox-wrapper-22 .slider:before {
    background-color: black;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
  }

  .checkbox-wrapper-22 input:checked + .slider {
    background-color:var(--accent-color);
  }

  .checkbox-wrapper-22 input:checked + .slider:before {
    transform: translateX(26px);
  }

  .checkbox-wrapper-22 .slider.round {
    border-radius: 34px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 0.5rem;
  }

  .checkbox-wrapper-22 .slider.round:before {
    border-radius: 50%;
  }
  .checkbox-label{
    font-weight: bold;
  
    padding:1rem;
    font-size: 1.5rem;


  }
  .checkbox{
    display: flex;
    justify-content: center;
    align-items: center;
  }