.design-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    width: min(80vw,800px);
    transition: transform 0.2s;
    margin: auto;
    font-size: 1.2rem;
    margin-bottom: 4rem;
    margin-top: 4rem;
    
  }
  .design-card:hover{
    transform: scale(1.1);
    transition: 0.15s;
  }
  .design-card h3,
  .design-card p {
    margin: 0.5rem;
  }
  table{
    margin-bottom: 5rem;
  }
  .table-card{
    margin-bottom: 10rem;
    border-radius: 1rem;
    margin: auto;
    box-shadow: 0 4px 6px #ccc;
    margin-bottom: 10rem;
    padding:2rem;
    color:black;
    width: min(80vw,800px);
    font-weight: bold;
    text-align: center;
    border-radius: 2rem;
  }
  
  .table-card {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }
  .table-card:hover{
    transform: scale(1.05);
    transition: 0.15s;
  }
  
  .styled-table {
    
  }
  
  .styled-table th, .styled-table td {
    padding: 12px;
    text-align: left;
    
  }
  
  .styled-table th {
  }
  
  .combined-table td {
    vertical-align: top;
    
  }
  
  /* Additional styles for better readability */
  h2 {
    color:black;
    padding:1rem;
  }
  
  strong {
    color:  #f8f9fc;
  }
  .table-card td{
    text-align:left;
  }
  .heading{
    background-color:  var(--accent-color);
    color:white;
    margin:0;
  }
  .your-designs{
    display: inline-flex;
    flex-direction: column;
    width: min(90vw,1000px);
    margin:2rem;
  }
  .your-designs-page{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }