.design-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    width: min(80vw,800px);
    transition: transform 0.2s;
    margin: auto;
    font-size: 1.2rem;
    margin-bottom: 4rem;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .design-card:hover{
    transform: scale(1.1);
    transition: 0.15s;
  }
  .design-card h3,
  .design-card p {
    margin: 0.5rem;
  }
  table{
    margin-bottom: 5rem;
  }
  .table-card{
    margin-bottom: 10rem;
    border-radius: 1rem;
    margin: auto;
    box-shadow: 0 4px 6px #ccc;
    margin-bottom: 10rem;
    padding:2rem;
    color:black;
    width: min(80vw,800px);
    font-weight: bold;
    text-align: center;
    border-radius: 2rem;
   
  }
  
  .table-card {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }
  .table-card:hover{
    transform: scale(1.05);
    transition: 0.15s;
  }
  
  .styled-table {
    
  }
  
  .styled-table th, .styled-table td {
    padding: 12px;
    text-align: left;
    font-weight: normal;
    
  }
  
  .styled-table th {
  }
  
  .combined-table td {
    vertical-align: top;
    
  }
  
  /* Additional styles for better readability */
  h2 {
    color:black;
    padding:1rem;
  }
  
  strong {
    color:  #f8f9fc;
  }
  .table-card td{
    text-align:left;
  }
  .heading{
    background-color:  var(--accent-color);
    color:white;
    margin:0;
    font-weight: bold;
    font-size: 1.1rem;
  }
  .your-designs{
    display: inline-flex;
    flex-direction: column;
    width: min(90vw,1000px);
    margin:2rem;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-card-bg);
    box-shadow: rgba(0,0,0,0.5) 2px 2px 4px;

  }
  .your-designs-page{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  @media screen and (max-width:768px) {
    
    .selected-wire-parent select{
      font-size: 1rem;
      padding: 1px;
  }
  .selected-wire p{
    font-size: 1rem;
  }

 .your-designs {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .your-designs td, .your-designs th {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
  }
  
  /* Heading styles */
  .your-designs th {
    background-color: #f2f2f2;
  }

  }
  @media only screen and (max-width: 600px) {
    /* Hide table headers and display them as table rows */
    .your-designs th, .your-designs td {
      display: block;
      width: 100%;
      box-sizing: border-box;
    }
  
    /* Add some spacing between rows */
    .your-designs td {
      margin-bottom: 10px;
    }
  
    /* Add a border to separate the cells */
    .your-designs td:before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
    }
    .table-card:hover{
      transform: scale(1);
      transition: 0.15s;
      padding:0.5rem;
      margin: 0.5rem;
    }
  }