.login-card{
    margin-left:auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom : 10%;

    background-color: var(--primary-card-bg);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 6px, rgba(0, 0, 0, 0.24) 0px 2px 4px;
    color:var(--primary-text);
    width: min(90vw,500px);
    margin-bottom: 20px;
    border-radius: 0.4rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding:2rem;
}


.card-container .PRO {
	color: white;
	background-color: #FEBB0B;
	border-radius: 3px;
	font-size: 14px;
	font-weight: bold;
	padding: 3px 7px;
	position: absolute;
	top: 30px;
	left: 30px;
}
.card-container .ROOKIE {
	color: white;
	background-color: #00db37;
	border-radius: 3px;
	font-size: 14px;
	font-weight: bold;
	padding: 3px 7px;
	position: absolute;
	top: 30px;
	left: 30px;
}
.card-container{
	
}

.card-container .round {
	border-radius: 50%;
	padding: 7px;
}
h3 {
	margin: 10px 0;
}

h6 {
	margin: 5px 0;
	text-transform: uppercase;
}

p {
	font-size: 14px;
	line-height: 21px;
}

.card-container {
	background-color:ghostwhite;
    font-weight: bold;
    font: 1em sans-serif;

    width: min(600px,80vw);
    justify-content: center;
    box-shadow: 0 2px 4px #1b1a1a;
    border-radius: 1rem;
    margin-top: 1rem;
    display:inline-flex;
  

    padding:2rem;
    flex-direction: column;
    margin:1rem;
    transform: scale(1);
    opacity: 1;
    transition: 0.15s;
    background-color: var(--primary-card-bg);
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
	font-weight: bold;
    align-items: center;

    margin-top:1rem;
    margin-bottom: 1rem;
  
}
.card-container:hover{
	transform: scale(1.1);
}

.card-container .pro {
	color: #231E39;
	background-color: #FEBB0B;
	border-radius: 3px;

	font-weight: bold;
	padding: 3px 7px;
	position: absolute;
	top: 30px;
	left: 30px;
}



.skills {
	background-color: var(--primary-card-bg);
	text-align: left;
	padding: 15px;
	margin-top: 30px;
}

.skills ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.skills ul li {
	border-radius: 2px;
	display: inline-block;
	margin: 0 7px 7px 0;
	padding: 7px;
	font-size: 1.2rem;
}

footer {
    background-color: #222;
    color: #fff;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}
.card-container .skills{

	margin-bottom: 10rem;
}
.round{
	border-radius: 50%;
	height:60%;
	width: 60%;
}
@media  only screen and (max-width:768px) {
	.card-container *{
		font-size: 1rem;
	}
}